*/.env
/weights/*
/output/*/*
/resource/*
/cluster_data/*
/raw/*
/sample/*
/src/weights/*
.venv/
/pass/
/original/
/default/
*.pyc
__pycache__/

*.png
*.xml
result-0605.json
service_account.json
/mnt
*.log
old_api_key.txt
output/
icontestimages/
