albucore==0.0.24
albumentations==2.0.6
annotated-types==0.7.0
anyio==4.9.0
astor==0.8.1
beautifulsoup4==4.13.4
Brotli @ file:///C:/b/abs_c415aux9ra/croot/brotli-split_1736182803933/work
certifi @ file:///C:/b/abs_3beajm7umk/croot/certifi_1745939228545/work/certifi
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
colorama==0.4.6
colorlog==6.9.0
contourpy==1.3.2
cycler==0.12.1
Cython==3.1.0
decorator==5.2.1
defusedxml==0.7.1
easyocr==1.7.2
filelock @ file:///C:/b/abs_758187j281/croot/filelock_1744281404850/work
fire==0.7.0
fonttools==4.58.0
fsspec==2025.3.2
gmpy2 @ file:///C:/b/abs_d8ki0o0h97/croot/gmpy2_1738085498525/work
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
imageio==2.37.0
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
kiwisolver==1.4.8
lazy_loader==0.4
lmdb==1.6.2
lxml==5.4.0
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib==3.10.3
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
networkx @ file:///C:/b/abs_b054htfn9t/croot/networkx_1737043671910/work
ninja==1.11.1.4
numpy @ file:///C:/b/abs_0123vcxhf8/croot/numpy_and_numpy_base_1725470331966/work/dist/numpy-2.0.1-cp311-cp311-win_amd64.whl#sha256=46eb5850478cda64bda6d2f2d3d6ad8ceeb7cc168b83532e4f9dbbcb42e22ab2
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
opt-einsum==3.3.0
packaging==25.0
paddleocr==2.10.0
paddlepaddle-gpu==2.6.1
pandas==2.2.3
pillow @ file:///C:/b/abs_68t826txdy/croot/pillow_1744613085333/work
protobuf==3.20.2
pyclipper==1.3.0.post6
pydantic==2.11.4
pydantic_core==2.33.2
pyparsing==3.2.3
PySocks @ file:///C:/ci_311/pysocks_1676425991111/work
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-docx==1.1.2
pytz==2025.2
PyYAML @ file:///C:/b/abs_14xkfs39bx/croot/pyyaml_1728657968772/work
RapidFuzz==3.13.0
requests @ file:///C:/b/abs_c3508vg8ez/croot/requests_1731000584867/work
scikit-image==0.25.2
scipy==1.15.3
shapely==2.1.0
simsimd==6.2.1
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
stringzilla==3.12.5
supervision==0.25.1
sympy==1.13.1
termcolor==3.1.0
themes==0.0.5
tifffile==2025.5.10
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
typing-inspection==0.4.0
typing_extensions @ file:///C:/b/abs_0ffjxtihug/croot/typing_extensions_1734714875646/work
tzdata==2025.2
urllib3 @ file:///C:/b/abs_7bst06lizn/croot/urllib3_1737133657081/work
win-inet-pton @ file:///C:/ci_311/win_inet_pton_1676425458225/work
